<h1>Welcome to the show!!</h1>

<h3>Major-domo helps you openly track shared housing expenses (toilet paper) and chores<h3>

<div>
  <img src="http://placehold.it/240x427" />
</div>

<form>
  <input type="email" placeholder="Email..." />
  <input type="password" placeholder="Password" />
  <input 
</form>

{{outlet}}