{{log 'index template'}}

<h1>The goal of major-domo is to help you live with your roommates better.</h1>


<h3>Be proactive about chores</h3>
<p>The whole thinking behind major-domo is to help the proactive cleaner lead by example by simply tracking tallies of who's taking care of essential chores, like taking out the trash. When you complete a chore, you increase your tally. It works on the honor system, if you're roommates are dishonest you can write me, the developer, suggesting a feature of how to help. Group messaging may come in the future. Major-domo doesn't help you set schedules and todo lists and assigning certain chores to certain people, major-domo expects you to do chores when you feel chores need to be done, and track your work. Major-domo expects everyone to work to contribute equally, or at the very least show you how much one person or the other is doing. At major-domo, we don't expect you to be honest, we just hope you realize how mad another roommate would be if they see you said you did something when you actually didn't. But, alas, it's not like the trash can be taken out twice, so we do limit you to one tally per chore per hour. If you have more than one trash, just add each as another chore. Of course you can also name a chore "Bathroom" which you and your roommates could agree requires the cleaning of several things. You can assign point values to various chores. You can make dishes worth 4 points and trash worth 1 point, so taking out the trash 4 times is equivalent to doing the dishes. (Speaking of dishes, most places could improve how they deal with them, <a href="https://www.google.com/search?q=best+ways+for+dirty+dishes+in+household+apartment" target="blank">let's search google</a>.) </p>

<p>The Major-domo chore tallyboard looks like this:</p>

<div>
  <img src="http://placehold.it/240x360" />
</div>

<p>You tap your tally count once to increase it by one</p>

<h3>But we do more than just track chores</h3>
<p>Until our modern standard of living is engineered to be free, there are certainly at least a few things tha you and your roommates share, that you can split the cost of. If you can't agree on a certain quality of toilet paper, I don't know how to help you. If you reach agreement on other things, major-domo can help you out by delivering it all to your door. That's right! We'll actually deliver all your shared items to your door, free of charge. You might wonder how we make money, but that's the wrong thing to be curious about. I would be curious about what money even is. Major-domo conveniently shows you your split of the costs, but since it's always free (zero), zero divided by 4 roommates is always zero, but for fun sometimes major-domo displays a negative zero for you balance, in which case you are expected to return the box with yourself packaged inside of it, so we can have you as a slave for some shortish period allowing you to earn off the balance and pay your fair share. Say you and the roommates all want pizza tonight, just enter "Pizza" into the shared items list and you'll have a big box with a pizza inside at your door the next morning. If you are in agreement on what detergent to use, If you can't agree on a certain quality of toilet paper, you probably have somethings you share with roommates and should split the cost of. Given your list of shared items, and any resourecs that are shared or used by everyone should be paid for  living situation has shared living exTracking chore activity isn't the only thing a shared living space needs pE5xj5WZdWgeBAa13⼼a>戼r>戼r></p>

<h3>The Major-domo transparency tracker kinda looks like this:<h3>

<table style="opacity:0.1">
  <tbody>
    <tr>
      <th>Alien #1</th>
      <th>Alien #2</th>
      <th>Little rascal</th>
    </tr>
    <tr>
      <td>no joke man, it's transparent</td>
    </tr>
  </tbody>
</table>

<p>Thanks for checking out major-domo, have a nice day. -Devin</p>

<p>The whole philosophy and thinking behind major-domo is that</p>

<p>Hams be hams, and bygones by bygones</p>

<h4>Convinced? Sign up/sign in here:</h4>

<form>
  <input type="email" placeholder="Email..." />
  <input type="password" placeholder="Password" disabled />
</form>

<p>You will be indebted for $15.95/mo for 6 months tomorrow, you can check your balance at <a href="http://major-domo-balance.com">major-domo-forever-never-balance.com</a></p>

<footer>
  <div class="span3">
    <p>fiddle</p>
    <p>Hresource</p>
    <p>Luv u mom</p>
  </div>
  <div class="span3">
    <p>snickers</p>
    <p>reeses</p>
    <p>Suck u addicted 2sugar</p>
  </div>
  <div class="span3">
    <p>but really</p>
    <p>now we all just</p>
    <p>want some candy</p>
  </div>
  <div class="span3">
    <p>Peanut M&M's are</p>
    <p>a filling compromise</p>
    <p>Steam flavored pork forks</p>
  </div>
</footer>
