Welcome to {{residence.name}}

<h1>Tab for chores</h1>
<h1>Tab for shared expenses</h1>

{{outlet}}

<h1>Recent Activity: {{#unless allEvents}} none! {{/unless}}</h1>

{{#each event in allEvents}}
{{/each}}

{{partial "tallyboard"}}
